In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\vishal\OneDrive\Desktop\case study\e-commerce.csv", encoding='ISO-8859-1')
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

In [4]:
# 1. Clean the dataset

df.dropna(subset=['InvoiceDate', 'CustomerID', 'Quantity'], inplace=True)

In [5]:
# Remove rows with non-positive quantities (ignore negative quantities which might represent returns)

df = df[df['Quantity'] > 0]

In [6]:
# 2. Define conversion: A conversion is a customer making at least one purchase.
# Convert 'InvoiceNo' and 'CustomerID' to identify customers who made purchases

df['Conversion'] = 1   # Marking all transactions as conversions (1)

In [7]:
# 3. Determine which group (A/B) each customer belongs to
# You can split the groups based on any feature; let's say we divide by 'Country' for this example
# Group A: 'United Kingdom', Group B: All other countries

df['group'] = np.where(df['Country'] == 'United Kingdom', 'A', 'B')

In [8]:
# 4. Calculate conversion rates
# For each group, calculate the conversion rate: Number of converted customers / Total customers
# First, count unique customers (CustomerID) who made a purchase in each group
conversions_A = df[df['group'] == 'A']['CustomerID'].nunique()
conversions_B = df[df['group'] == 'B']['CustomerID'].nunique()

In [9]:
# Total number of customers in each group
total_customers_A = df[df['group'] == 'A']['CustomerID'].nunique()
total_customers_B = df[df['group'] == 'B']['CustomerID'].nunique()

In [11]:
# Conversion rates for each group
Conversion_rate_A = conversions_A / total_customers_A
conversions_B = conversions_B / total_customers_B