In [1]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2 as ps

In [4]:
conn2 = ps.connect(dbname = "study sql", 
                   user = "postgres", 
                   password = "Password", host = "localhost", port = "5432")

In [5]:
sql = """SELECT *
	FROM public.retail_sales_data;"""

In [6]:
df = sqlio.read_sql_query(sql, conn2)

C:\Users\vishal\AppData\Local\Temp\ipykernel_20000\2636434275.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = sqlio.read_sql_query(sql, conn2)

In [7]:
df.head(5)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50.0,150.0
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500.0,1000.0
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30.0,30.0
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500.0,500.0
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50.0,100.0